@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

html {
  --std-title-font-size: 27px;
  --light-bgcolor: #111111;
  --graysacale-50: #FBFBFB;
  --prime-300: #D7FC70;
}


.container {
  background-color: #090b73;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 28fr 72fr;
  overflow: hidden;
  grid-template-areas:
    "status"
    "card";
}


.card {
  grid-area: card;
  background-color: black;
  border-radius: 32px 32px 0px 0px;
  padding: 23px;
  display: grid;
  grid-template-rows: 2fr 10fr;
}


.tstbtn {
  background-color: var(--prime-300);
  height: 56px;
  border-radius: 18px;
  border: 0px solid;
  font-weight: 500;
}

.status {
  justify-self: center;
  align-self: center;
  font-size: xxx-large;
  font-family: bungee;
  letter-spacing: 1.5px;
  color: rgb(235, 235, 89);
}


.arrow {
  border: 2px solid #E5E7EB;
  border-radius: 12px;
  height: 40px;
  width: 40px
}

.scroll {
  display: grid;
  grid-template-columns: auto 230px auto;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}

.content-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gate-list {
  width: 230px;
  overflow: scroll;
  scroll-snap-type: x proximity;
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  font-size: x-large;

}

.gate-list::-webkit-scrollbar {
  display: none;
}

.option {
  scroll-snap-align: start;
}


.grad-r {
  position: relative;
  right: 40px;
  height: 36px;
  background-color: #090b73;
  width: 40px;
  background: #000000;
  background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.grad-l {
  position: relative;
  left: 40px;
  height: 36px;
  background-color: #090b73;
  width: 40px;
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}